<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2024-2026 Temple University <kleinweb@temple.edu>
SPDX-License-Identifier: CC0-1.0
-->
<ruleset name="UserProfile">
    <description>User Profile Block Website Coding Standards</description>

    <file>./.php-cs-fixer.dist.php</file>

    <file>./src</file>
    <file>./tests</file>

    <rule ref="Kleinweb">
    </rule>

    <!-- Ignore underscore-prefixed parameters as intentionally unused -->
    <rule ref="SlevomatCodingStandard.Functions.UnusedParameter">
        <properties>
            <property name="allowedParameterPatterns" type="array">
                <element value="/^_/"/>
            </property>
        </properties>
    </rule>
</ruleset>
