/*
 * SPDX-FileCopyrightText: 2025-2026 Temple University <kleinweb@temple.edu>
 *
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

/**
 * Frontend styles for {{ prj_title }}
 *
 * These styles are loaded on the public-facing side of the site.
 */
