# SPDX-FileCopyrightText: 2025 Temple University <kleinweb@temple.edu>
#
# SPDX-License-Identifier: CC0-1.0

# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: "Deploy to Production"

"on":
  push:
    branches:
      - production
    pull_request:
      branches:
        - production
    workflow_dispatch:

concurrency:
  group: production
  cancel-in-progress: true

env:
  SRC_DIR: ${{ github.workspace }}
  # FIXME: make reusable
  PRJ_ROOT: ${{ github.workspace }}
  PRJ_CONFIG_HOME: "${{ github.workspace }}/.config"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./.github/actions/build

      - uses: actions/upload-artifact@v4
        with:
          name: user-profile-block-built
          path: .
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: user-profile-block-built

      - uses: ./.github/actions/deploy
